.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

.img {
    width        : 240px;
    height       : 240px;
    padding-left : 32px;
    padding-top  : 32px;
    padding-right: 32px;
}