body{
    font-family: Oswald;
    font-weight: 300;
    font-size: 2rem;
    background-color: #444;
    color: #fff;
    text-align: center;
}
.App{
    display: flex;
    flex-wrap: wrap;
}
li { /* styles all li elements*/
    list-style-type: none;
}